body {
    width: 800px;
    margin: auto;
	margin-top: 4em;
    
    text-align: center;
    line-height: 125%;
    font-family: Verdana;
}

canvas {
    border-radius: 10px;
    background-color: #CCC;
}

#description {
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
}